.padrao {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(240, 198, 14);
}
.cabecalho {
  text-decoration: none;
  background: #6d84bd;
  color: antiquewhite;
  padding: 1% 0% 1% 0%;
  text-align: center;
}
.cabecalho a {
  text-decoration: none;
  color: antiquewhite;
  padding-left: 5px;
}

.conteudo {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  background-image: radial-gradient(rgba(0, 85, 165, 0.904) 50%, rgb(2, 6, 70));
}
.logonba {
  text-align: center;
}
.logonba img {
  width: 20%;
  padding: 5% 0% 1% 0%;
}
.principal {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  width: 100%;
  padding: 2% 20% 1% 20%;
  color: rgba(240, 248, 255, 0.692);
}
.video {
  /*Vídeo ilustrativo */
  text-decoration: none;
  border-top: solid;
  border-bottom: solid;
  color: antiquewhite;
  padding: 1% 2% 2% 2%;
  text-align: center;
  width: 80%;
  margin: 5em auto;
}
.video h1 {
  padding: 1% 2% 2% 2%;
}
.rodape {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: url(/footerball.jpg);
  background-size: 100%;
  color: antiquewhite;
  font-size: 30px;
  text-align: center;
  box-sizing: border-box;
}
.rodape img {
  height: 16rem;
}

.copyright {
  margin: 10% auto;
}

/* Área responsiva da Homepage */
@media screen and (max-width: 480px) {
  .cabecalho {
    text-decoration: none;
    background: #0b5fadb6;
    color: antiquewhite;
    padding: 1% 0% 1% 0%;
    text-align: center;
  }

  .cabecalho img {
    width: 20%;
  }
  .cabecalho h1 {
    font-size: 1.3em;
    text-align: center;
  }
  .cabecalho a {
    width: 20%;
    text-decoration: none;
    color: antiquewhite;
    padding-left: 5px;
  }

  /*Texto principal da Homepage*/
  .padraoequipes {
    height: 100%;
  }
  .titulo-principal {
    font-size: 20px;
  }
  .principal {
    display: flex;
    text-align: center;
    width: 100%;
    padding: 2% 10% 1% 10%;
    color: rgba(240, 248, 255, 0.692);
  }
  nav .clubes {
    display: flex;
  }
  .clubes {
    flex-flow: column;
    text-align: center;
    padding: 1% 0 5% 0;
  }
  .clubes li {
    width: 33%;
    justify-content: space-around;
  }
  .clubes li img {
    width: 60%;
  }
  .clubes h2 h3 {
    padding: 2% 0 2% 0;
  }
  .video {
    /*Vídeo ilustrativo */
    width: auto;
    margin: 2em auto;
  }

  footer {
    /* Rodapé */
    margin-top: 80px;
  }
}
